header.header 
        .header_logo
            a(href="#") 
                img(src="img/logo.svg", alt="Logo online TV")
        nav 
            ul.header_list
                li.header_list-item 
                    a(href="").header_list-link.active  Home
                li.header_list-item 
                    a(href="").header_list-link TV Shows
                li.header_list-item 
                    a(href="").header_list-link Movies
                li.header_list-item 
                    a(href="").header_list-link Series
        ul.header_control
                li.header_control-item 
                    button.header_control-btn.header_control-btn_search 
                li.header_control-item 
                    button.header_control-btn.header_control-btn_notice 
                li.header_control-item 
                    button.header_control-btn.header_control-btn_accounter 
                     

