-var pageTitle = "Online TV";

doctype html
html(lang="en")
  head
    title= pageTitle
    style
        include css/normalize.css
        include css/style.min.css
  body
    include modules/header
    h1 Pug - node template engine
    include modules/footer
    